<section class="bg-neutral-900 px-4 py-6" aria-labelledby="comments-title">
    <div class="border-t-[0.3rem] border-dotted border-gray-400 pt-4">
        <h2 id="comments-title" class="text-center text-2xl font-bangers text-gray-400 mb-4">
            Comments
        </h2>
        
        <!-- NOTE: You must enable giscus. It's easy, just follow the steps https://giscus.app/ 

        sth like this:

        <script src="https://giscus.app/client.js"
            data-repo=""  # note: your repo
            data-repo-id=""
            data-category="General"
            data-category-id=""
            data-mapping="pathname"
            data-strict="1"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="dark_dimmed"
            data-lang="en"
            crossorigin="anonymous"
            async>
        </script> -->
    </div>
</section>